name: Verification site HTML-CSS

on:
  push:

jobs:
  verification:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Message de verification
        run: echo "Site HTML/CSS verifie avec succes"
